<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="OpenRoc Project">
    <meta name="author" content="DEV 1.0">

    <title>OpenRoc</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/stylesheets/template/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/stylesheets/template/dev1-0.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="../public/images/logo-openroc.png"
                                                                      alt="OPEN-ROC"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#intro">OpenRoc</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#microctrl">Microcontrôleurs</a>
                </li>
                <li>
                    <a class="page-scroll" href="#capteurs">Capteurs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="intro">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">OpenRoc Real Time Dashboard</div>
            <div class="intro-heading">OpenRoc Prototype</div>
            <p>Démonstrateur des concepts mis en jeu dans ce projet, cet ensemble d'interfaces a pour objectif de rendre
                tangible l'acquisiton des données via les microcôntroleurs et les capteurs.</p>

        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SERVICES</h2>

                <h3 class="section-subheading text-muted">Synoptique des Services du Contrôleur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                Services...
            </div>
        </div>
    </div>
</section>


<!-- Microcontrôleurs Section -->
<section id="microctrl" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Microcontrôleurs</h2>

                <h3 class="section-subheading text-muted">Synoptique des Nodes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                Microcontrôleurs...
            </div>
        </div>
    </div>
</section>

<!-- Capteurs Section -->
<section id="capteurs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">CAPTEURS</h2>

                <h3 class="section-subheading text-muted">Sensors dashboard</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <p><span class="copyright">Copyright &copy; OpenRoc 2016</span></p>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</footer>

<script src="../public/javascripts/template/jquery.js"></script>
<script src="../public/javascripts/template/bootstrap.min.js"></script>
<script src="../public/javascripts/template/jquery.easing.min.js"></script>
<script src="../public/javascripts/template/classie.js"></script>
<script src="..vjavascripts/template/cbpAnimatedHeader.js"></script>
<script src="../public/javascripts/template/cheet.min.js"></script>
<script src="../public/javascripts/template/dev.js"></script>


</body>

</html>
